*.tar.gz
*.dsc
*.deb
git.spec
*.exe
*.[aos]
*.py[co]
diff*
*.diff
*.po_*.*
*~
*.bak
*.gmo
*.spec
*.pc
*.icc
*.cgats
*.png
*.gif
*.jpg
*.tif
*.xbm
*.avi
*.wrl*
*.xml
*.tgz
*.gz
dE2000*
html
data
debug
patch
rpmdir
temp
wwwsite
iccexamin
icc_examin_cp
icc_profiliere*
autom4te.cache
config.h
config.log
config.log.h
config.tmp.sh
config.mak
config.cache
config.log
config.status
config.mak.autogen
config.mak.append
mkdepend*
Makefile*
makefile_*
makefile.in_*
gmon.out
tags
TAGS
screenfilm*.avi
screenfilm*.gif
my_file_chooser*
stl
test*
testset.txt
tiff_test*
txt.txt
zeigPrim*
cscope*
screenfilm.sh
thread_unsichere_Funktionen.sh
projects
packeteZumServerKopieren.sh
mime-info-to-mime
