[Desktop Entry]
Name=ICC Examin
Name[de]=ICC Examin

GenericName=

Comment=look at the internals of ICC profiles
Comment[de]=Interna von ICC Farbprofilen betrachten

Type=Application
Categories=Application;Graphics;

Encoding=UTF-8

TryExec=iccexamin
Exec=iccexamin %U
Icon=icc_examin.png
StartupNotify=true
Terminal=false

MimeType=application/icc;application/cgats;model/vrml;

