#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Categories=Graphics;RasterGraphics;Viewer;
Comment=Look at the internals of ICC profiles
Comment[de]=ICC Farbprofilebetrachter
Comment[fr]=Examiner un profil ICC
Exec=iccexamin %U
GenericName=ICC profile viewer
Icon=iccexamin
MimeType=application/vnd.iccprofile;text/vnd.cgats;x-world/x-vrml;model/vrml;
Name=ICC Examin
Name[de]=ICC Examin
StartupNotify=false
Terminal=false
TryExec=iccexamin
