[Desktop Entry]
Categories=Application;Graphics;
Comment=Look at the internals of ICC profiles
Comment[de]=Interna von ICC Farbprofilen betrachten
Encoding=UTF-8
Exec=iccexamin %U
GenericName=
Icon=icc_examin.png
InitialPreference=9
MimeType=application/x-icc;application/x-cgats;x-world/x-vrml;model/vrml
Name=ICC Examin
Name[de]=ICC Examin
StartupNotify=false
Terminal=false
TryExec=iccexamin
Type=Application
